{% extends 'baseedit.html.twig' %}

{% block title %}
   Inscription bénévoles
{% endblock %}

{% block body %}

    <div class="container d-flex flex-column align-items-center text-center">
        <h1 class="text-black">Inscription Bénévole</h1>
    </div><br>
    <div class="container d-flex flex-column align-items-center" style="background-color: rgba(55, 55, 55, 0.15); width: 40%;">

            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            <div>
                {{ form_label(form.sexe) }}
                {{ form_widget(form.sexe) }}
                {{ form_errors(form.sexe) }}
            </div>

            <div>
                {{ form_label(form.nom) }}
                {{ form_widget(form.nom) }}
                {{ form_errors(form.nom) }}
            </div>

            <div>
                {{ form_label(form.prenom) }}
                {{ form_widget(form.prenom) }}
                {{ form_errors(form.prenom) }}
            </div>

            <div>
                {{ form_label(form.age) }}
                {{ form_widget(form.age) }}
                {{ form_errors(form.age) }}
            </div>
            <div>
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}
            </div>
            <div>
                {{ form_label(form.telephone) }}
                {{ form_widget(form.telephone) }}
                {{ form_errors(form.telephone) }}
            </div>
            <div>
                {{ form_label(form.adresse) }}
                {{ form_widget(form.adresse) }}
                {{ form_errors(form.adresse) }}
            </div>

            <div>
                {{ form_label(form.code_postal) }}
                {{ form_widget(form.code_postal) }}
                {{ form_errors(form.code_postal) }}
            </div>
            <div>
                {{ form_label(form.ville) }}
                {{ form_widget(form.ville) }}
                {{ form_errors(form.ville) }}
            </div>
            <div>
                {{ form_label(form.secteur) }}
                {{ form_widget(form.secteur) }}
                {{ form_errors(form.secteur) }}
            </div>

            <div>
                {{ form_label(form.plagesDistances) }}
                {{ form_widget(form.plagesDistances) }}
                {{ form_errors(form.plagesDistances) }}
            </div>

            <div>
                {{ form_label(form.matieresAccompagment) }}
                {{ form_widget(form.matieresAccompagment) }}
                {{ form_errors(form.matieresAccompagment) }}<br>
            </div>
                <div>
                {{ form_label(form.informationComplementaire) }}
                {{ form_widget(form.informationComplementaire, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.informationComplementaire) }}
             </div>


            <div>
                {{ form_label(form.niveauAccompagment) }}
                {{ form_widget(form.niveauAccompagment) }}
                {{ form_errors(form.niveauAccompagment) }}
            </div>
            <div>
                {{ form_label(form.connaitretescap) }}
                {{ form_widget(form.connaitretescap) }}
                {{ form_errors(form.connaitretescap) }}
            </div>
            <div>
                {{ form_label(form.donLibre) }}
                {{ form_widget(form.donLibre) }}
                {{ form_errors(form.donLibre) }}
            </div>
            
                 {{ form_row(form.casierJudiciaire, { 'attr': {'class': 'form-control-file'} }) }}
                 
            <a href="{{ asset('uploads/pdfs/reglement/reglement.pdf') }}" class="btn btn-success"style="background-color: red   ; color: white; border: none; padding: 5px 10px; border-radius: 5px;" download>
                            Merci de lire le règlement intérieur
                        </a>
                        <a href="https://casier-judiciaire.justice.gouv.fr/" class="btn btn-info" target="_blank">Récupérer son casier judiciaire</a>
            <div>
                {{ form_label(form.luEtApprouve) }}
                {{ form_widget(form.luEtApprouve) }}
                {{ form_errors(form.luEtApprouve) }}
            </div>
            <div>
            <div class="d-flex justify-content-center flex-column flex-md-row gap-3">
                <button type="submit" class="btn btn-success">Envoyer le formulaire</button>
                
            </div>
            </div>
             {% if is_granted('ROLE_ADMIN') %}
                {{ form_end(form) }}
            {% endif %}
            
    </div><br><br><br>

{% endblock %}
