{% extends 'baseedit.html.twig' %}

{% block title %}
    Modifier bénévole
{% endblock %}

{% block body %}
    <style>
        body {
            font-family: DejaVu Sans, sans-serif;
            font-size: 14px;
            color: #333;
            padding: 30px;
            background-color: #fdfdfd;
        }

        h1 {
            color: #1abc9c;
            text-align: center;
            margin-bottom: 30px;
            font-size: 20px;
        }

        .form-container {
            background-color: #a0eecc;
            width: 50%;
            margin: 0 auto;
            padding: 20px;
            border-radius: 10px;
        }
        
        button {
            background-color: #3498db;
            color: white;
            padding: 10px 20px;
            border: none;
            font-size: 14px;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 20px;
        }

        button:hover {
            background-color: #2980b9;
        }

        .form-group {
            margin-bottom: 15px;
        }
    </style>

    <h1>Modifier les informations du bénévole</h1>

    <div class="form-container">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="text-center">
                    <button type="submit">Enregistrer</button>
                </div>
        <div class="form-group">
            {{ form_label(form.sexe) }}
            {{ form_widget(form.sexe) }}
            {{ form_errors(form.sexe) }}
        </div>
        
        <div class="form-group">
            {{ form_label(form.nom) }}
            {{ form_widget(form.nom) }}
            {{ form_errors(form.nom) }}
        </div>

        <div class="form-group">
            {{ form_label(form.prenom) }}
            {{ form_widget(form.prenom) }}
            {{ form_errors(form.prenom) }}
        </div>

        <div class="form-group">
            {{ form_label(form.age) }}
            {{ form_widget(form.age) }}
            {{ form_errors(form.age) }}
        </div>

        <div class="form-group">
            {{ form_label(form.enfant_suivie) }}
            {{ form_widget(form.enfant_suivie) }}
            {{ form_errors(form.enfant_suivie) }}
        </div>

        <div class="form-group">
            {{ form_label(form.telephone) }}
            {{ form_widget(form.telephone) }}
            {{ form_errors(form.telephone) }}
        </div>

        <div class="form-group">
            {{ form_label(form.adresse) }}
            {{ form_widget(form.adresse) }}
            {{ form_errors(form.adresse) }}
        </div>

        <div class="form-group">
            {{ form_label(form.ville) }}
            {{ form_widget(form.ville) }}
            {{ form_errors(form.ville) }}
        </div>

        <div class="form-group">
            {{ form_label(form.code_postal) }}
            {{ form_widget(form.code_postal) }}
            {{ form_errors(form.code_postal) }}
        </div>

        <div class="form-group">
            {{ form_label(form.secteur) }}
            {{ form_widget(form.secteur) }}
            {{ form_errors(form.secteur) }}
        </div>

        <div class="form-group">
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
            {{ form_errors(form.email) }}
        </div>
            
            {{ form_end(form) }}
        
    </div>
{% endblock %}