{% extends 'base.html.twig' %}

{% block title %}Télécharger le formulaire {{ type|capitalize }}{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1 class="mb-4">Télécharger le formulaire <strong>{{ type|capitalize }}</strong></h1>

        {{ form_start(form, { attr: { enctype: 'multipart/form-data' } }) }}
            {{ form_row(form.pdf_file) }}
            {{ form_row(form.submit) }}
        {{ form_end(form) }}

        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-3">{{ message }}</div>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger mt-3">{{ message }}</div>
        {% endfor %}
    </div>
{% endblock %}


