<div class="container my-5">
    <div class="row">
        <!-- Menu Section -->
        <div class="col-12 col-md-3 menu">
            <h4><a class="nav-link" href="{{ path('app_association') }}">L'association</h4><br>
            <h4><a class="nav-link" href="{{ path('app_primaire') }}">Primaire</a></h4>
            <h4><a class="nav-link"  href="{{ path('app_college') }}">Collège</h4>
            <h4><a class="nav-link" href="{{ path('app_lycee') }}">Lycée</h4><br>
            <h4><a class="nav-link" href="{{ path('app_benevoles_liste') }}">Astuces</h4><br>
            <h4><a class="nav-link" href="{{ path('app_dys') }}">Un truc en plus ?</h4><br>
            <h4><a class="nav-link" href="{{ path('app_partenaires') }}">Nos partenaires</a></h4><br>
            <h4>Nos réseaux :</h4>
            <a href="https://www.facebook.com/tescapdereussir" target="_blank">
                <img src="{{ asset('img/accueil/fb.png') }}" alt="Facebook Logo" style="width: 60px; height: 60px;">
            </a>
            <a href="https://www.instagram.com/tescap29720/" target="_blank">
                <img src="{{ asset('img/accueil/insta1.png') }}" alt="Facebook Logo" style="width: 50px; height: 50px;">
            </a>

        </div>
    </div>
